name: Push to Github registry

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v4
        
     - name: Log in to the Container registry
       uses: docker/login-action@ec9cdf07d570632daeb912f5b2099cb9ec1d01e6
       with:
         registry: ghcr.io
         username: ${{ github.actor }}
         password: ${{ secrets.GITHUB_TOKEN }}

     - name: Build and push Docker image
       uses: docker/build-push-action@v4
       with:
         context: .
         push: true
         tags: ghcr.io/qjoly/simpledebianrepository
